{% extends "index.html" %}
{% block content %}
<br><br>

<div class="col-md-offset-1 col-md-10">
    <form class="disambiguate-form form-inline" method="post" action="" >
        <table class="table condensed well inspire-well" width="100%" cellpadding="0" cellspacing="10" border="0">
            {% for n in range(1) %}
            <tr>
                <td valign="top">
                       Surname: <input type="text" name="surname"><br>
                </td>
                <td valign="top">
                       Threshold: <input type="text" name="threshold"><br>
                </td>

                <td>
                    <button class="btn btn-default" type="submit" >
                        Disambiguate!
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
    </form>


<form class="refresh-form" method="post" action="">
    <button class="btn btn-default" type="button" onclick="document.getElementsByClassName('refresh-form')[0].submit();">
        <span class="glyphicon glyphicon-refresh"></span>Refresh
    </button>
</form>

<br><br>


Running Jobs
<table class="table-striped table-hover" width="100%" border="1">
    <tr>
        <td width="16.6%" valign="top">
               Bibsched Process id <br>  
        </td>
        <td  width="16.6%" valign="top">
               Cluster<br>  
        </td>
        <td  width="16.6%" valign="top">
               Progress<br>  
        </td>
        <td width="16.6%" valign="top">
               Args<br>  
        </td>
        <td width="16.6%" valign="top">
               Start <br>  
        </td>
        <td width="16.6%" valign="top">
               Kill job <br>  
        </td>
    </tr>
    {% for bibsched_id, cluster, phase, progress, args, start, end in running_disambiguation_tasks %}
    <tr>
        <td width="16.6%" valign="top">
               {{ bibsched_id }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ cluster }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ phase }}  <progress value="{{ progress }}" max="1"></progress><br>
        </td>
        <td width="16.6%" valign="top">
               {{ args }}<br>  
        </td>
        <td width="16.6%" valign="top">               
               {{ start }} <br>
        </td>
        <td width="16.6%" valign="top">
               <form name="kill-form" action="" method="post">
                    <input type="hidden" name="kill-task-id" value="{{ bibsched_id }}" />
                <button class="btn btn-default" type="submit" >
                    Kill
                </button>
               </form>
        </td>
    </tr>
    {% endfor %}
</table>

<br><br>

Completed Jobs

<table class="table-striped table-hover" width="100%" border="1">
    <tr>
        <td width="16.6%" valign="top">
               Bibsched Process id <br>  
        </td>
        <td  width="16.6%" valign="top">
               Cluster<br>  
        </td>
        <td  width="16.6%" valign="top">
               Progress<br>  
        </td>
        <td width="16.6%" valign="top">
               Args <br>  
        </td>
        <td width="16.6%" valign="top">
               Start<br>
        <td width="16.6%" valign="top">
               End<br>
        </td>
    </tr>
    {% for bibsched_id, cluster, phase, progress, args, start, end in completed_disambiguation_tasks %}
    <tr>
        <td width="16.6%" valign="top">
               {{ bibsched_id }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ cluster }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ phase }}  <progress value="{{ progress }}" max="1"></progress><br>
        </td>
        <td width="16.6%" valign="top">
               {{ args }}<br>  
        </td>
        <td width="16.6%" valign="top">
               {{ start }} <br>
        </td>
        <td width="16.6%" valign="top">
               {{ end }} <br>  
        </td>
    </tr>
    {% endfor %}
</table>


<br><br>

Failed Jobs

<table class="table-striped table-hover" width="100%" border="1">
    <tr>
        <td width="16.6%" valign="top">
               Bibsched Process id <br>  
        </td>
        <td  width="16.6%" valign="top">
               Cluster<br>  
        </td>
        <td  width="16.6%" valign="top">
               Progress<br>  
        </td>
        <td width="16.6%" valign="top">
               Args <br>  
        </td>
        <td width="16.6%" valign="top">
               Start<br>
        <td width="16.6%" valign="top">
               End<br>
        </td>
    </tr>
    {% for bibsched_id, cluster, phase, progress, args, start, end in failed_disambiguation_tasks %}
    <tr>
        <td width="16.6%" valign="top" name="task-id">
               {{ bibsched_id }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ cluster }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ phase }}  <progress value="{{ progress }}" max="1"></progress><br>
        </td>
        <td width="16.6%" valign="top">
               {{ args }}<br>  
        </td>
        <td width="16.6%" valign="top">
               {{ start }} <br>
        </td>
        <td width="16.6%" valign="top">
               {{ end }} <br>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}