

Run Disambiguation
<br><br>


<form class="disambiguate-form" method="post" action="" >
    <table width="100%" cellpadding="0" cellspacing="10" border="1">
        {% for n in range(1) %}
        <tr>
            <td width="50%" valign="top">
                   Surname: <input type="text" name="surname"><br>  
            </td>
            <td width="50%" valign="top">
                   Threshold: <input type="text" name="threshold"><br>  
            </td>

            <td>
                <button class="btn btn-default" type="submit" >
                    <span class="glyphicon glyphicon-search"></span>Disambiguate
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>    
    <br><br>
</form>

<form class="refresh-form" method="post" action="">
    <button class="btn btn-default" type="button" onclick="document.getElementsByClassName('refresh-form')[0].submit();">
        <span class="glyphicon glyphicon-search"></span>Refresh
    </button>
</form>

<br><br>


Running Jobs
<table width="100%" border="1">
    <tr>
        <td width="16.6%" valign="top">
               Bibsched Process id <br>  
        </td>
        <td  width="16.6%" valign="top">
               Cluster<br>  
        </td>
        <td  width="16.6%" valign="top">
               Progress<br>  
        </td>
        <td width="16.6%" valign="top">
               Args<br>  
        </td>
        <td width="16.6%" valign="top">
               Start <br>  
        </td>
        <td width="16.6%" valign="top">
               Kill job <br>  
        </td>
    </tr>
    {% for bibsched_id, cluster, phase, progress, args, start, end in running_disambiguation_tasks %}
    <form class="task-form" method="post" action="" >
    <tr>
        <td width="16.6%" valign="top" name="task-id">
               {{ bibsched_id }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ cluster }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ phase }}  <progress value={{ progress }} max="1"><br>  
        </td>
        <td width="16.6%" valign="top">
               {{ args }}<br>  
        </td>
        <td width="16.6%" valign="top">               
               {{ start.strftime('%Y-%m-%d') }} <br>
        </td>
        <td width="16.6%" valign="top">
               <button class="btn btn-default" type="submit" >
                    <span class="glyphicon glyphicon-search"></span>Kill
               </button> <br>  
    </tr>
    </form>
    {% endfor %}
</table>

<br><br>

Completed Jobs

<table width="100%" border="1">
    <tr>
        <td width="16.6%" valign="top">
               Bibsched Process id <br>  
        </td>
        <td  width="16.6%" valign="top">
               Cluster<br>  
        </td>
        <td  width="16.6%" valign="top">
               Progress<br>  
        </td>
        <td width="16.6%" valign="top">
               Args <br>  
        </td>
        <td width="16.6%" valign="top">
               Start<br>
        <td width="16.6%" valign="top">
               End<br>
        </td>
    </tr>
    {% for bibsched_id, cluster, phase, progress, args, start, end in completed_disambiguation_tasks %}
    <tr>
        <td width="16.6%" valign="top" name="task-id">
               {{ bibsched_id }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ cluster }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ phase }}  <progress value={{ progress }} max="1"><br>  
        </td>
        <td width="16.6%" valign="top">
               {{ args }}<br>  
        </td>
        <td width="16.6%" valign="top">
               {{ start.strftime('%Y-%m-%d') }} <br>  
        </td>
        <td width="16.6%" valign="top">
               {{ end }} <br>  
        </td>
    </tr>
    {% endfor %}
</table>


<br><br>

Failed Jobs

<table width="100%" border="1">
    <tr>
        <td width="16.6%" valign="top">
               Bibsched Process id <br>  
        </td>
        <td  width="16.6%" valign="top">
               Cluster<br>  
        </td>
        <td  width="16.6%" valign="top">
               Progress<br>  
        </td>
        <td width="16.6%" valign="top">
               Args <br>  
        </td>
        <td width="16.6%" valign="top">
               Start<br>
        <td width="16.6%" valign="top">
               End<br>
        </td>
    </tr>
    {% for bibsched_id, cluster, phase, progress, args, start, end in failed_disambiguation_tasks %}
    <tr>
        <td width="16.6%" valign="top" name="task-id">
               {{ bibsched_id }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ cluster }}<br>  
        </td>
        <td  width="16.6%" valign="top">
               {{ phase }}  <progress value={{ progress }} max="1"><br>  
        </td>
        <td width="16.6%" valign="top">
               {{ args }}<br>  
        </td>
        <td width="16.6%" valign="top">
               {{ start.strftime('%Y-%m-%d') }} <br>  
        </td>
        <td width="16.6%" valign="top">
               {{ end }} <br>
        </td>
    </tr>
    {% endfor %}
</table>