{% extends "index.html" %}
{% block content %}
        <div class="col-md-offset-1 col-md-5">
            <div class="well inspire-well">
                <div class="bai-box-title">
                 <span>Statistics</span>
                </div>
                <div class="tortoiseSingleResults">
                <table class="table table-striped table-hover well inspire-well" width="100%" cellpadding="0" cellspacing="10" border="1">
                    <tbody>
                    {% for stat_name, value in statistics['stats'].iteritems() %}
                    <tr>
                        <td valign="top">
                             {{ stat_name }}<br>
                        </td>

                        <td valign="top">
                             {{ value }}
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                </div>

                <form class="merge-form" method="post" action="">
                <input type="hidden" name="should-merge" value="true"/>
                <button class="btn btn-primary {{ disabled if merged else '' }}" type="button" onclick="document.getElementsByClassName('merge-form')[0].submit();">
                    <span class="glyphicon glyphicon-refresh"></span> Apply Disambiguation
                </button>
                </form>
            </div>
        </div>

        <div class="col-md-5">
            <div class="well inspire-well">
                <div class="bai-box-title">
                  <span>Profiles</span>
                </div>
                <div class="tortoiseSingleResults">
                <table id="tortoiseTable" class="table table-striped table-bordered table-hover tortoise">
                <thead>
                  <tr>
                      <th><span class="glyphicon glyphicon-sort-by-alphabet"></span> Person ID</th>
                      <th><span class="glyphicon glyphicon-sort-by-alphabet"></span> Name</th>
                      <th><span class="glyphicon glyphicon-sort-by-alphabet"></span> Status</th>
                      <th><span class="glyphicon glyphicon-sort-by-alphabet"></span> Nr of changes</th>
                  </tr>
                </thead>
                <tbody>
                  {% for key, value in statistics['rankings'].iteritems() %}
                  <tr>
                    <td><a href={{ '%s%s' % (fake_profile_base_url, key[1]) }}>{{ key[1] }}</a></td>
                    <td>
                      <!-- A hack for sorter -->
                      <div class={{ 'key[0]' }}>
                      {% if not key[1] %}
                      <a href={{ '%s%s' % (fake_profile_base_url, key[0]) }}>{{ key[0] }}</a>
                      {% else %}
                      <a href={{ '%s%s' % (fake_profile_base_url, key[1]) }}>{{ key[0] }}</a>
                      {% endif %}
                    </td>
                    <td>{{ value['status'] }}</td>
                    <td>{{ value['changes'] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
        </div>

{% endblock %}