{% extends "index.html" %}
{% block content %}

        <div data-box-pid="{{ person_id }}" data-box-tid="{{ task_id }}">
            <!--Rows don't work for xs view, as the boxes' content won't fit.-->
            <div class="row">
                <div class="col-lg-5">
                    <div class="well well-sm comparision-title">
                        <strong><small>Before the latest disambiguation</small></strong>
                    </div>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <div class="well well-sm comparision-title">
                        <strong><small>The output of the latest algorithm</small></strong>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12"><div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if no_old %}
                        {% block no_old_profile %}{% endblock %}
                        {% else %}
                        {% block personal_details %}{% endblock %}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if no_new %}
                        {% block no_profile %}{% endblock %}
                        {% else %}
                        {% block fake_personal_details %}{% endblock %}
                        {% endif %}
                    </div>
                    </div>
                </div></div>
            </div>

            <div class="row">
                <div class="col-lg-12"><div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_old %}
                        {% block citations_summary %}{% endblock %}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_new %}
                        {% block fake_citations_summary %}{% endblock %}
                        {% endif %}
                    </div>
                </div></div>
            </div>

            <div class="row">
                <div class="col-lg-12"><div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_old %}
                        {% block name_variants %}{% endblock %}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_new %}
                        {% block fake_name_variants %}{% endblock %}
                        {% endif %}
                    </div>
                </div></div>
            </div>

            <div class="row">
                <div class="col-lg-12"><div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_old %}
                        {% block affiliations %}{% endblock %}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_new %}
                        {% block fake_affiliations %}{% endblock %}
                        {% endif %}
                    </div>
                </div></div>
            </div>

            <div class="row">
                <div class="col-lg-12"><div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_old %}
                        {% block collaborations %}{% endblock %}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_new %}
                        {% block fake_collaborations %}{% endblock %}
                        {% endif %}
                    </div>
                </div></div>
            </div>

            <div class="row">
                <div class="col-lg-12"><div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_old %}
                        {% block not_fake_publications %}{% endblock %}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_new %}
                        {% block fake_publications %}{% endblock %}
                        {% endif %}
                    </div>
                </div></div>
            </div>

            <div class="row">
                <div class="col-lg-12"><div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_old %}
                        {% block publications_graph %}{% endblock %}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_new %}
                        {% block fake_publications_graph %}{% endblock %}
                        {% endif %}
                    </div>
                </div></div>
            </div>

            <div class="row">
                <div class="col-lg-12"><div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_old %}
                        {% block coauthors %}{% endblock %}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_new %}
                        {% block fake_coauthors %}{% endblock %}
                        {% endif %}
                    </div>
                </div></div>
            </div>

            <div class="row">
                <div class="col-lg-12"><div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_old %}
                        {% block papers %}{% endblock %}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_new %}
                        {% block fake_papers %}{% endblock %}
                        {% endif %}
                    </div>
                </div></div>
            </div>

            <div class="row">
                <div class="col-lg-12"><div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_old %}
                        {% block subject_categories %}{% endblock %}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_new %}
                        {% block fake_subject_categories %}{% endblock %}
                        {% endif %}
                    </div>
                </div></div>
            </div>

            <div class="row">
                <div class="col-lg-12"><div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_old %}
                        {% block frequent_keywords %}{% endblock %}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        {% if not no_new %}
                        {% block fake_frequent_keywords %}{% endblock %}
                        {% endif %}
                    </div>
                </div></div>
            </div>
        </div>

{% endblock %}